body{
    background-image:url('./assets/tron\ city.png') !important;  
    background-size: cover !important;
    background-size: 100%;
}

canvas{
    background-image:url('./assets/trongrid.webp') !important; 
    background-size: cover !important;
    background-size: 100%;
    border: 1px black solid;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

    #startGame{
    background-image: url('./assets/buttonLandpage.png');
    background-size: contain;
    background-position: center;
    padding: 20px;
    height:600px;  
    width:800px;   
    position: absolute;  
    left:0; 
    right: 0;
    top:50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    
}

    